
#header {
	text-align: center;
	color: #FFFFFF;
}

body {
	text-align: center;
}

p {
	font-size: 16px;
}

h1 {
	padding: 10px;
	background:#000000;
	color: #FFFFFF;
}

#input {
	margin: 10px;
}

#last {
	margin: 10px;
}